<% @posts.reverse.each do |x|%>
 <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.22);">
<div class="white">
	<%= image_tag x.image .url(:medium) %>
	<br>
	<b style="color: white;"><%= x.description %></b>
	
</div>
</div>
<br>
<% end %>