<h1>New Posts</h1>
<hr>

<%= form_for @post,  html: { multipart: true } do |f| %>
<div class="form-group">

<%= f.label :image %>
<%= f.file_field :image, class:"form-control img-rounded"%>
</div>

<div class="form-group">
<%= f.label :description %>
<%= f.text_area :description, class:"form-control", rows:"5"  %>
<br>
</div>
<div class="form-group">
<%= f.submit class:"btn btn-success" %>
</div>
<% end %>


