<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #3eab82;" >

         <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #0e3124;
    border-color: #f5f5f5">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to "Instagram", root_url, class:"navbar-brand" %>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"> <%= link_to "Add Post", new_post_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li style="color: #9d9d9d;margin: 14px 0px 13px;">Logged in as <strong ><%= current_user.email %></strong></li>
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'btnsl ' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, confirm: "Are you sure?" %></li>
               <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Registration", new_user_registration_path %></li>
            <% end %>  
            </ul>
          </div>
        </nav>
    
           
    <!-- Page Content -->
    <div class="container" >

        <div class="row">
            <div class="col-lg-12 text-center">
            <% flash.each do |a, b| %>
            <div class="alert alert-success"><%= b %></div>
            <% end %>
               
     <%= yield %>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

 <style>  body { padding-top: 70px; } </style>
</body>
</html>
